/ImageNet
/iaprtc12
/small_dataset
/ImageClef1000
/ImageClef2011
/ImageClef5952
/ImageClef11963
/ImageClef11963Features
/ImageClef17953
/ImageClef20000
/ImageNet-5000
/ImageNet-10000
/ImageNet-20000
/TinyImageNet.zip
iaprtc12.tgz
imageclef1k.tar.xz
small_dataset.tar.xz
